
.idea/Minolovec.iml
.idea/misc.xml
.idea/modules.xml
__pycache__/startno_okno.cpython-36.pyc
__pycache__/main.cpython-36.pyc
__pycache__/high_score_okno.cpython-36.pyc
__pycache__/gumbi.cpython-36.pyc
.idea/workspace.xml
.idea/vcs.xml
